/* ##### ##### ##### *\
## GRID OPTIONS 
\* ##### ##### ##### */
/* ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
                    Extra small devices       Small devices       Medium devices       Large devices
                    Phones                    Tablets             Desktops             Desktops
                    <768px                    >=768px             >=992px              >=1200px
Grid behavior       Horizontal at all times   Collapsed to start, horizontal above breakpoints
Container width     None (auto)               750px               970px                1170px
Class prefix        .col-xs-                  .col-sm-            .col-md-             .col-lg-
# of columns        12                        12                  12                   12
Column width        Auto                      Aprox 62px          Aprox 81px           Aprox 97px
Gutter width        30px (15px on each side of a column)
Nestable            Yes
Offsets             Yes
Column ordering     Yes
##### ##### ##### ##### ##### ##### ##### ##### ##### ##### */


/* ##### ##### ##### *\
## MÉTODO BEM (Block - Element - Medifier
\* ##### ##### ##### */
/* ##### ##### ##### ##### ##### ##### ##### ##### ##### #####

##### ##### ##### ##### ##### ##### ##### ##### ##### ##### */


/* ##### ##### ##### *\
## Guidelines
\* ##### ##### ##### */
/* ##### ##### ##### ##### ##### ##### ##### ##### ##### #####

CSS {
    # POSICIONAMENTO
        - position
            - static
            - fixed
            - relative
            - absolute
        - top
        - botton
        - left
        - right
        - z-index

    # DISPLAY E BOX MODEL
        - margin
        - padding
        - border
        - width
        - height

    # CORES
        - background-color
        - color

    # TEXTO
        - font-family
        - font-size
}

##### ##### ##### ##### ##### ##### ##### ##### ##### ##### */



/* ##### ##### ##### *\
## BASE 
\* ##### ##### ##### */

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* ##### ##### ##### *\
## CABEÇALHO 
\* ##### ##### ##### */

.cabecalho {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #cccccc;
}
.cabecalho--fixo {
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
.cabecalho__logo {
    width: 100px;
    height: 35px;
}

/* ##### ##### ##### *\
## NAVEGAÇÃO
\* ##### ##### ##### */

.navegacao__menu {
    float: right;
}
@media(min-width: 768px) {
    .botao-chaveador {
        display: none;
    }
}

/* ##### ##### ##### *\
## MENU LATERAL
\* ##### ##### ##### */

@media(max-width: 768px){
    .menu-lat {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        display: none;
        margin: 0px;
        padding: 20px;
        width: 200px;
        border-right: 1px solid #eeeeee;

        background-color: #fbfbfb;

        font-size: 14px;

        list-style: none;
    }
    .js-menu--show {
        display: block;
    }
    .menu-lat__item {
        display: block;
    
        line-height: 3;
    }
    .menu-lat__item--botao {
        margin-top: 20px;
    }
}
@media(min-width: 769px){
    .menu-lat {
        margin: 0px;
    }
    .menu-lat__item {
        display: inline-block;
        padding-left: 20px;
    }
}

/* ##### ##### ##### *\
## BOTAO CHAVEADOR
\* ##### ##### ##### */

.botao-chaveador {
    width: 24px;
    height: 24px;
    border: 0;

    background: none;
    background-image: url("../img/bars.png");

    outline: none;
}

/* ##### ##### ##### *\
## CHAMADA 
\* ##### ##### ##### */

.chamada {
    margin-top: 60px;
    padding: 80px 0;
    background-color: #7ab55c;
    font-size: 16px;
    text-align: center;
}
.chamada__titulo {
    margin: 0;

    color: #ffffff;

    font-size: 54px;
    line-height: 0.9;
    text-shadow: 2px 2px #313131;
}
.chamada__subtitulo {
    margin: 60px 0;

    color: #ffffff;

    font-size: 16px;
}
.chamada__conheca {
    font-size: 16px;
}
@media(min-width: 992px) {
    .chamada__titulo {
        padding-left: 20%;
        padding-right: 20%;

        font-size: 68px;
    }
}

/* ##### ##### ##### *\
## DEPOIMENTO 
\* ##### ##### ##### */

.depoimento {
    padding: 80px 0;
    background-color: #e7e7e7;
}
.depoimento__sitacao {
    font-size: 22px;
}
@media(min-width: 992px) {
    .depoimento__sitacao {
        padding-left: 15%;
        padding-right: 15%;

        font-size: 28px;
    }
}
.depoimento__sitacao > blockquote {
    position: relative;

    margin: 0px;
    padding: 0 60px;
    text-align: center;
}
.depoimento__sitacao > blockquote::before {
    position: absolute;
    top: -62px;
    left: 0px;

    color: #cccccc;

    font-size: 176px;

    content: "\201C";
}
.depoimento__autor {
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
}
.depoimento__autor > img {
    border-radius: 50%;
}
.depoimento__autor > p {
    margin-top: 5px;
}

/* ##### ##### ##### *\
## PLANOS 
\* ##### ##### ##### */

.bl-planos {
    padding: 65px 0px;
}
@media(max-width: 768px) {
    .bl-planos div:not(.ultimo-plano) {
        margin-bottom: 40px;
    }
}

.plano {
    position: relative;

    padding: 0px;
    border: 1px solid #95a4a5;
}
.plano--rotulo::after {
    position: absolute;
    top: -10px;
    left: -10px;

    padding: 0 10px;

    background-color: #c20303;
    color: #ffffff;

    font-size: 10px;
    line-height: 2.5;

    content: "MAIS POPULAR";
}
.plano__cabecalho {
    background-color: #95a4a5;
    color: #ffffff;
    text-align: center;
    line-height: 2.5;
    margin: 0px;
    font-weight: normal;
    font-size: 28px;
}
.plano__valor {
    font-size: 28px;
    text-align: center;
    margin: 20px 0px;
}
.plano__descricao {
    text-align: center;
    list-style: none;
    margin: 20px 0px;
    padding: 0px;
}
.plano__rodape {
    text-align: center;
    padding: 20px 0px;
}


/* ##### ##### ##### *\
## BOTAO VERDE
\* ##### ##### ##### */

.botao--verde {
    display: inline-block;
    line-height: normal;

    padding: 12px 16px;

    color: #ffffff;
    background-color: #127d00;

    text-decoration: none;
}
.botao--verde:hover, .botao:focus {
    background-color: #045010;
    color: #ffffff;
    text-decoration: none;
}

/* ##### ##### ##### *\
## BOTAO PRINCIPAL
\* ##### ##### ##### */

.botao--main {
    display: inline-block;
    background-color: #004b86;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
}
.botao--main:hover, .botao:focus {
    background-color: #003b6a;
    color: #ffffff;
    text-decoration: none;
}



/* ##### ##### ##### *\
## RODAPE 
\* ##### ##### ##### */

.rodape {
    padding: 40px 0;
    border-top: 1px solid #cccccc;
    background-color: #484848;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}