/* Grid Options *\
                    Extra small devices       Small devices       Medium devices       Large devices
                    Phones                    Tablets             Desktops             Desktops
                    <768px                    >=768px             >=992px              >=1200px
Grid behavior       Horizontal at all times   Collapsed to start, horizontal above breakpoints
Container width     None (auto)               750px               970px                1170px
Class prefix        .col-xs-                  .col-sm-            .col-md-             .col-lg-
# of columns        12                        12                  12                   12
Column width        Auto                      Aprox 62px          Aprox 81px           Aprox 97px
Gutter width        30px (15px on each side of a column)
Nestable            Yes
Offsets             Yes
Column ordering     Yes
*/


/* ##### ##### ##### *\
## BASE 
\* ##### ##### ##### */

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* ##### ##### ##### *\
## CABEÇALHO 
\* ##### ##### ##### */

.cabecalho {
    height: 60px;
    border-bottom: 1px solid #cccccc;
}
.cabecalho__logo {
    width: 100px;
    height: 35px;
    margin-top: 12px;
}

/* ##### ##### ##### *\
## CHAMADA 
\* ##### ##### ##### */

.chamada {
    padding: 80px 0;
    background-color: #7ab55c;
    font-size: 16px;
    text-align: center;
}
.chamada__titulo {
    margin: 0;

    color: #ffffff;

    font-size: 54px;
    line-height: 0.9;
    text-shadow: 2px 2px #313131;
}
.chamada__subtitulo {
    margin: 60px 0;

    color: #ffffff;

    font-size: 16px;
}
.chamada__conheca {
    font-size: 16px;
}
@media(min-width: 992px) {
    .chamada__titulo {
        padding-left: 20%;
        padding-right: 20%;

        font-size: 68px;
    }
}


/* ##### ##### ##### *\
## PLANOS 
\* ##### ##### ##### */

.bl-planos {
    padding: 65px 0px;
}
.bl-planos div {
    margin: 15px 0px;
}
.plano {
    padding: 0px;
    border: 1px solid #95a4a5;
}
.plano__cabecalho {
    background-color: #95a4a5;
    color: #ffffff;
    text-align: center;
    line-height: 2.5;
    margin: 0px;
    font-weight: normal;
    font-size: 28px;
}
.plano__valor {
    font-size: 28px;
    text-align: center;
    margin: 20px 0px;
}
.plano__descricao {
    text-align: center;
    list-style: none;
    margin: 20px 0px;
    padding: 0px;
}
.plano__rodape {
    text-align: center;
    padding: 20px 0px;
}

/* ##### ##### ##### *\
## BOTAO VERDE
\* ##### ##### ##### */

.botao--verde {
    display: inline-block;
    background-color: #127d00;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
}
.botao--verde:hover, .botao:focus {
    background-color: #045010;
    color: #ffffff;
    text-decoration: none;
}

/* ##### ##### ##### *\
## BOTAO PRINCIPAL
\* ##### ##### ##### */

.botao--main {
    display: inline-block;
    background-color: #004b86;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
}
.botao--main:hover, .botao:focus {
    background-color: #003b6a;
    color: #ffffff;
    text-decoration: none;
}



/* ##### ##### ##### *\
## RODAPE 
\* ##### ##### ##### */

.bl-rodape {
    height: 60px;
    border-top: 1px solid #cccccc;
    background-color: black;
    color: #ffffff;
    font-size: 7px;
    text-align: center;
    padding-top: 15px;
}